/* -------------------------------------------------------------------
	БЛОКИ
------------------------------------------------------------------- */

.block                  { padding: 15px 20px; background: #fff; margin-bottom: 15px; border: 1px solid #ddd; border-radius: 7px; box-shadow: 0 0 5px #eee; }
.block:last-child 		{ margin-bottom: 0; border: none; }
.sidebar-left .block 	{ margin-bottom: 10px; }

.block .block-header 					{ position: relative; margin-bottom: 4px }
.block .block-header h3 				{ font-size: 20px; font-family: Tahoma, sans-serif; margin-bottom:10px }
.block .block-header h3 a 				{ text-decoration: none; color: #333; }
.block .block-header h3 a.link-dotted 	{ color: #5055B2; }
.block .block-content 					{  }
.block footer                           { padding-top: 5px; font-size: 11px; text-align: right; }

.block .max-height-200 		{ overflow: auto; max-height: 200px; _height: expression( this.scrollHeight > 200 ? "200px" : "auto" ); position: relative; }

/* Block Type - Stream */
.block .block-update 			{ position: absolute; top: 6px; right: 5px; width: 20px; height: 20px; background: url(../images/icons-synio.png) 0 -200px no-repeat; cursor: pointer; }
.block .block-update:hover 		{ background-position: -20px -200px; }
.block .block-update.active 	{ background-position: -40px -200px; }

.block.block-type-stream .block-content .latest-list { border-top: 1px solid #eee; font-size: 11px; line-height: 16px; color: #999; }
.block.block-type-stream .block-content .latest-list li { padding: 5px 6px 6px; border-bottom: 1px solid #eee; }
.block.block-type-stream .block-content .latest-list li .user { font-weight: bold; color: #999; padding-left:12px; text-decoration: none; background: url(../images/icons.gif) 0 -108px no-repeat; }
.block.block-type-stream .block-content .latest-list li .topic-title { color: #333; }
.block.block-type-stream .block-content .latest-list li .blog-title { color: #999; }
.block.block-type-stream .block-content .latest-list li .stream-comment-icon { background: url(../images/icons.gif) no-repeat 0 -146px; padding-left: 12px; zoom: 1; }
.block.block-type-stream .block-content .latest-list li .stream-topic-icon { background: url(../images/icons.gif) no-repeat 0 -188px; padding-left: 12px; zoom: 1; }
.block.block-type-stream .block-content .latest-list li span { color: #66B746; }
.block.block-type-stream .block-content .latest-list li.even { background: #F8F8F8; }

/* Block Type - Activity Settings */
.block.block-type-activity p 		{ margin-bottom: 15px; }
.block.block-type-activity ul li 	{  }
.block.block-type-activity ul.stream-settings-blogs li 	{ margin-bottom: 3px; }
.block.block-type-activity .note 	{ display: block; margin-bottom: 15px; color: #aaa; }


/* Block Type - Profile */
.block .nav.nav-profile 			{ margin-bottom: 15px; }
.block .nav.nav-profile li 			{ float: none; font-size: 15px; border-bottom: 1px dotted #dce1e6; padding: 8px 10px 10px 30px; }
.block .nav.nav-profile li.active a { text-decoration: none; color: #000; }

.block.block-type-profile 							{ background: none; display:table; margin:0px auto 20px auto; border: none; padding: 0; }
.block.block-type-profile .profile-photo-wrapper 	{ position: relative; min-height: 50px; }
.block.block-type-profile .profile-photo 			{ vertical-align: top; max-width: 240px;  }
.block.block-type-profile .status 					{ position: absolute; top: 5px; left: 5px; padding: 0 5px; border-radius: 2px; font-size: 11px; line-height: 17px; }
.block.block-type-profile .status.status-online 	{ background: #B7BC1C; color: #fff; }
.block.block-type-profile .status.status-offline 	{ background: #333; color: #fff; opacity: .5; filter: alpha(opacity=50); }
.block.block-type-profile .upload-photo 			{ padding: 10px 30px 15px 30px; background: #f8fbfe; font-size: 11px; }
.block.block-type-profile .upload-photo a 			{ color: #727a90; border-color: #727a90; }

.block.block-type-profile-note	 				{ border: 2px solid #ffe25d; padding: 15px; border-radius: 5px; }
.block.block-type-profile-note p 				{ margin-bottom: 10px; }
.block.block-type-profile-note .actions 		{ margin-bottom: 0; font-size: 11px; }
.block.block-type-profile-note .actions a 		{ color: #275ec2; border-color: #275ec2; }
.block.block-type-profile-note .actions a:hover { color: #f00; border-color: #f00; }

.block.block-type-profile-nav 					{ padding: 0; background: none; border: none; }

.block.block-type-profile-actions 						{ border: none; }
.block.block-type-profile-actions .block-content 		{ padding: 0 0 0 30px; }
.block.block-type-profile-actions ul li					{ margin-bottom: 5px; font-size: 11px; }
.block.block-type-profile-actions ul li:last-child		{ margin-bottom: 0; }
.block.block-type-profile-actions ul li a				{ color: #727a90; }
.block.block-type-profile-actions ul li a:hover			{ color: #f00; }
.block.block-type-profile-actions ul li a.followed		{ color: #f00; }


/* Block Type - Foldable */
.block.block-type-foldable { background: none; }
.block.block-type-foldable .block-header { background: none; border: none; padding: 0 0 10px; }
.block.block-type-foldable .block-content { display: none; background: #fafafa; }

.block.block-type-talk-search { margin-bottom: 10px; }
.block.block-type-talk-friends { margin-bottom: 10px; }


/* Block Type - Blogs */
.block.block-type-blogs .block-blog-list { border-top: 1px solid #eee; }
.block.block-type-blogs .block-blog-list li { padding: 5px 0 5px; border-bottom: 1px solid #eee; overflow: hidden; zoom: 1; }
.block.block-type-blogs .block-blog-list li a { color: #777; }
.block.block-type-blogs .block-blog-list li img { vertical-align: top; }
.block.block-type-blogs .block-blog-list li strong { float: right; margin-left: 10px; }

/* Block Type - Blogs */


/* Block Type - Tags */
.block.block-type-tags .tag-cloud li a { text-decoration: none; white-space: nowrap; color: #8B8B8B; }
.block.block-type-tags .tag-cloud li a:hover { color: #fff; background: #777; }

