/* --------------------------------------------
	СЕТКА
-------------------------------------------- */

#container 	{ margin: 0 auto 20px; max-width: 1600px; min-width: 990px; }
#header 	{ min-width: 960px; height: 80px; margin: 0 auto; max-width: 1570px; position: relative; overflow: hidden; zoom: 1; padding: 0 15px; background: #222; }
#header-light { text-align: center; padding: 20px 0; background: #fff; width: 400px; margin: 20px auto 40px; border-radius: 5px; }
#wrapper 	{ overflow: hidden; zoom: 1; padding: 0 20px 20px; }
#wrapper.show-update-button { padding-right: 55px; }
#wrapper.white-back { background: #fff; margin: 0 20px 30px 20px;}
#wrapper.white-back #content {  }
#content 	{ width: 66.5%; float: left; margin-right: 1.5%; background: #fff; }
#content-inner { padding: 20px; }
#sidebar	{ width: 32%; float: left; }
#footer 	{ overflow: hidden; zoom: 1; margin: 0 0 20px; color: #777; border-top: 1px solid #DADADA; }
#footer-inner 	{ border-top: 1px solid #fff; padding: 15px 20px 10px; }


#wrapper.no-sidebar				{ background-image: none; }
#wrapper.no-sidebar #content 	{ width: 100%; margin-right: 0; }

#container.toolbar-margin #wrapper 				{ margin-right:40px; background-position: 651px 0px; }   

#content.content-right 		{ margin-right: 0; float: none; margin-left: 311px; width: auto; }