/* --------------------------------------------
	СТРАНИЦА ПОЛЬЗОВАТЕЛЯ
-------------------------------------------- */

.profile 				{ min-height: 48px; margin-bottom: 0; padding: 0 0px 20px 0; position: relative; }

.profile .button 		{ float: right; margin:16px 40px 0 0 }
.profile .avatar 		{ position: absolute; top: 0;  }
.profile .text	{ font-size: 10px; color: #aaa; text-align: center; }

.profile .vote-profile 	{ float: right; margin-left: 30px; }
.profile .vote-profile .vote-count span { font-weight: normal; display:block; color:#fff; background:#68BF46; padding: 4px 10px 5px; font-size: 14px; }
.profile .vote-profile .vote-up { margin: 4px 0px 0 0; cursor:pointer; }
.profile .vote-profile .vote-down { margin: 4px 0 0 0px; cursor:pointer; }
.profile .vote-profile .vote.vote-count-positive .vote-count span { background: #68BF46 }
.profile .vote-profile .vote.vote-count-negative .vote-count span { background: #FF3B3C }

.profile .strength { float: right; }
.profile .strength .total { background: #70AAE0; font-size: 14px; padding: 4px 10px 5px; font-weight: normal; color: #fff; }

.profile .user-login 				{ width: 240px; font-size: 27px; line-height: 26px; font-weight: normal; margin-bottom: 5px; }
.profile .user-login.no-user-name 	{  }
.profile .user-name 				{ color: #949aa1; font-size: 17px; font-family: 'PT Sans', sans-serif; }

.profile-page-header 				{ font-size: 12px; font-weight: bold; margin-bottom: 20px; background: #f5f5f5; border-top: 1px solid #eee; color: #555; padding: 5px 10px 6px; }

.profile-info-about 		{ padding: 13px 20px 20px 135px; min-height: 100px; background: #fcfce9; border-radius: 5px; margin-bottom: 30px; color: #000; position: relative; }
.profile-info-about .avatar { position: absolute; top: 20px; left: 20px; border-radius: 5px; background: #fff; padding: 5px; box-shadow: 0 0 5px rgba(0,0,0,.2); }
.profile-info-about .avatar img { vertical-align: top; width: 80px; height: 80px; }
.profile-info-about h3 		{ font-size: 19px; margin-bottom: 5px; }
.profile-info-about .edit	{ font-size: 11px; }

.profile-left 	{ width: 360px; float: left; margin-right: 40px; }
.profile-right 	{ width: 185px; float: left; }

.profile-dotted-list { margin-bottom: 50px; }
.profile-dotted-list li { overflow: hidden; zoom: 1; margin-bottom: 5px; background: url(../images/dots.png)  0% 14px repeat-x; }
.profile-dotted-list li span { background: #fff; }
.profile-dotted-list li strong { float: right; width: 190px; font-weight: normal; background: #fff; }

.profile-contact-list { margin-bottom: 50px; }
.profile-contact-list li { margin-bottom: 5px; padding-left: 21px; position: relative; }
.profile-contact-list li i { position: absolute; top: 2px; left: 0; }

